.navigation-links {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #788694;
  padding: 30px;
  text-align: center;

  a {
    color: #788694;
    font-weight: bold;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
