@import "styles/libraries/bootstrap";

@import "styles/variables-custom-properties";

body {
  color: $secondary;
  font-family: "Gruppo", cursive;

  @extend .bg-dark;

  a {
    color: inherit;
    text-decoration: none;

    &:active,
    &:visited {
      color: inherit;
    }
  }
}

// components %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

// atoms -----------------------------------------------------------------------
@import "styles/components/atoms/social-my";

// molecules -------------------------------------------------------------------

// organisms -------------------------------------------------------------------

// templates -------------------------------------------------------------------

// pages -----------------------------------------------------------------------
@import "styles/components/pages/home";
